<h1>Entries</h1>

<div class="row">
  <div class="col-md-8">
    <% @entries.each do |entry| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to entry.topic.title, entry %>
          </h4>
          
            <%= entry.body.html_safe %> 
        </div>
      </div>
    <% end %>
    
  </div>
  <div class="col-md-4">

      Future Link!

  </div>
</div>