<h1>About The Daily Awesome</h1>

<p>The daily awesome is a journaling app with daily prompts inspired by the DS106 <a href="http://tdc.ds106.us/">Daily Create.</a> It is meant to inspire more creativity and exploration (both of yourself and your environment). You can choose to keep entries private or make them public and published to your user profile which can be shared with others.</p>

<p>Topics posted to The Daily Awesome are publicly viewable, so if you have another platform (or a hand written journal) you prefer to use, you are welcome to do so.</p>
