<div id="main">
  <div class="jumbotron">
    <div class="hero">
      <h1>The Daily Awesome</h1>
      <p>dare to dream. dare to do.</p>
    </div>
      
    <p>
      Sign In | Sign Up
    </p>
  </div>
</div>

